@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #212922;
  --foreground: #F1FAEE;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #212922;
    --foreground: #F1FAEE;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-garamond), serif;
}
